section#como-funciona
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.text-center: h2 ¿Cómo funciona?
    .row.justify-content-center
      p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, exercitationem voluptatum. Blanditiis, numquam! Id aliquam expedita adipisci rerum, necessitatibus error quis modi, nam facilis incidunt repudiandae laudantium! Maiores, deleniti qui.
      img(src="app/img/como-funciona.png").mt-5
