section#que-es
  .container
    .row.justify-content-center
      .col-md-6.col-sm-12.text-center: h2 ¿Qué es #{title}?
    .row
      .col
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .col
        p Eget gravida cum sociis natoque penatibus et magnis dis. Aliquet eget sit amet tellus cras adipiscing enim eu. Ornare quam viverra orc.
  